* {
  box-sizing: border-box;
}

body {
  margin-inline: 0;
  margin-block: 0;
  font-family: Roboto, sans-serif;
}

header {
  padding-block: 16px;
  border-bottom: 1px solid black;

}

header>a {
  margin-inline-start: 16px;
}

main,
footer {
  padding-inline-start: 16px;
}

footer {
  position: sticky;
  display: block;
  background-color: #eaeaea;
  bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;

}

footer>p {
  margin-inline-start: 8px;
}

caption {
}

figure {
  margin-inline-start: 0px;
}


figure>img {
  display: block;
  margin-top: 0px;
  margin-bottom: 8px;
}

th {
  text-align: left;
}

tr>.first {
  inline-size: 100px;
}

tr>.second {
  min-width: 200px;
}

h1 {
  font-size: 32px;
}

a:hover {
  color: green
}

a {
  text-decoration: none
}